@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../assets/bg-space.png);
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease;
    transition: background 0.2s linear;
    color: whitesmoke;
}

body.clear {
    background: white;
    color: black;
    .apresentacao__links__navegacao {

        color: black;
    }
    .icones img {
        background-color: transparent;
    }
}

.cabecalho {
    padding: 0.5% 15%;
    background-color: var(--cor-terciaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
    align-items: center; 
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-primaria);
    text-decoration: none;
    border-radius: 25px;
}

.checkbox {
    display: none;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: relative;
    height: 15px;
    width: 50px;
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(33px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;

}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__courses {
    padding: 5% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.icones {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 25px;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.icones img {
    width: 45px;
    height: 45px;
    border-radius: 25%;
    background-color: transparent;
}

.apresentacao__conteudo__titulo {
    font-size: 3rem;
    font-family: var(--fonte-primaria);
    text-align: center;
}

.apresentacao__conteudo__titulo_sobre_mim {
    font-size: 1.75rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
    margin-top: 0;
    margin-bottom: 0;
}

.apresentacao__conteudo__titulo_tec {
    font-size: 1.75rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
    margin-bottom: 0%;
}
.apresentacao__conteudo__texto__list {
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
    margin-top: 10px;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    
}

.apresentacao__links__subtitulos {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
    flex-direction: row;
}

.Links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.28rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: 'Montserrat', sans-serif;
    gap: 15px;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.minha_foto {
    display: flex;
    border: 2px solid var(--cor-terciaria);
    border-radius: 50px;
    width: 50%;
}

/* Cursos */
.apresentacao__conteudo__titulo_cursos {
    font-size: 1.5rem;
    text-align: center;
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
    
}

.apresentacao__conteudo__subtitulo {
    font-size: 18px;
    color: blue;
    text-align: center;
    margin-bottom: 20px;
}

.curso {
    display: inline-block;
    width: 23%;
    margin-right: 2%;
    vertical-align: top;
    text-align: center;
}

.curso:last-child {
    margin-right: 0;
}

.curso__titulo {
    margin-bottom: 5px;
    height: 85px; /* Definindo altura fixa */
    overflow: hidden;
    text-align: center;
    align-items: center; 
    justify-content: center;/* Para garantir que o texto não ultrapasse a altura */
}

.curso__detalhes {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 2px solid var(--cor-terciaria);
    justify-content: center;
}

.curso__detalhes__botoes {
    display: flex;
    justify-content: center;
}

.curso__detalhes__botao {
    margin: 5px;
    border-radius: 15px;
    border: 2px solid var(--cor-terciaria);
}

@media(max-width: 1750px) {
    .icones {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        align-items: center;
        gap: 10px;
        padding-left: 0;
        
    }

    .icones img {
        width: 50px;
        height: 50px;
        margin: 0;   
    }
    .checkbox:checked + .label .ball {
        transform: translateX(32px);
    }
}

@media(max-width: 1200px) {
    .cabecalho {
        padding: 3%;
    }
    .cabecalho__menu__link {
        font-family: var(--fonte-secundaria);
        font-weight: 600;
        font-size: 1.5rem;
        color: var(--cor-primaria);
        text-decoration: none;
        border-radius: 25px;
    }
    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
        
    }

    .cabecalho__menu__link {
        font-family: var(--fonte-secundaria);
        font-weight: 600;
        font-size: 1.5rem;
        color: var(--cor-primaria);
        text-decoration: solid;
        text-align: center;
        margin-left: auto;
    }

    

    .icones {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        align-items: center;
        gap: 10px;
        padding-left: 0;
        
    }

    .icones img {
        width: 50px;
        height: 50px;
        margin: 0;   
    }

    .minha_foto {
        display: flex;
        border: 2px solid var(--cor-terciaria);
        border-radius: 50px;
        width: 40%;
    }
    
    .apresentacao__links__subtitulos {
        font-family: var(--fonte-primaria);
        font-weight: 400;
        font-size: 1rem;
        flex-direction: row;
    }

    .apresentacao__conteudo__titulo {
        font-size: 1.5rem;
        font-family: var(--fonte-primaria);
        text-align: center;
    }

    .apresentacao__conteudo__texto {
        font-size: 1rem;
        font-family: var(--fonte-secundaria);
        text-align: center;
    }
    .apresentacao__conteudo__titulo_sobre_mim {
        text-align: center;
        margin-inline: 100px;
        margin-top: 0;
    }
    .apresentacao__conteudo__texto__list {
        display: flex;
        gap: 30px;
    }
    .minha_foto {
        display: flex;
        border: 2px solid var(--cor-terciaria);
        border-radius: 25px;
        width: 30%;
    }
}

@media(max-width: 1000px) {
    .apresentacao {
        gap: 25px;
    }
    .icones {
        display: inline;
        justify-items: center;
        align-items: center;
        gap: 0px;
        padding-left: 0;
        gap: 2.5px;
    }
    .icones img {
        width: 30px;
        height: 30px;
        margin: 0;   
    }
    .apresentacao__conteudo__container {
        display: block;
        flex-direction: column;
        gap: 20px;
    }
    .apresentacao__conteudo__texto__list {
        font-size: 0.8rem;
        padding-left: 20px; 
    }
    .apresentacao__conteudo__texto {
        font-size: 0.8rem;
        padding-left: 20px;
        word-wrap: break-word; 
        overflow-x: auto;
        
    }
    .apresentacao__conteudo__titulo_sobre_mim {
        text-align: center;
        font-size: 0.9;
        margin-inline: 100px;
        margin-top: 0;
    }
    .checkbox:checked + .label .ball {
        transform: translateX(30px);
    }
    
    .minha_foto {
        display: flex;
        border: 2px solid var(--cor-terciaria);
        border-radius: 50px;
        width: 40%;
    }
}
    @media(max-width: 800px) {
        .apresentacao {
            gap: 25px;
                    
        }
        .apresentacao__conteudo {
            text-align: center;
            align-items: center;
        }
        .icones {
            display: inline;
            justify-items: center;
            align-items: center;
            gap: 0px;
            padding-left: 0;
            gap: 2.5px;
        }
        .icones img {
            width: 30px;
            height: 30px;
            margin: 0;   
        }
        .apresentacao__conteudo__container {
            display: block;
            flex-direction: column;
            gap: 20px;
        }
        .apresentacao__conteudo__texto__list {
            font-size: 0.8rem;
            text-align: center;
            align-items: center;
        }
        .apresentacao__conteudo__texto {
            display: inline;
            font-size: 0.75rem;
            text-align: center;
            padding: 0;

        }
        .apresentacao__conteudo__titulo_sobre_mim {
            text-align: center;
            font-size: 0.9rem;
            margin-inline: 100px;
            margin-top: 0;
        }
        .checkbox:checked + .label .ball {
            transform: translateX(25px);
        }
        .minha_foto {
            display: flex;
            border: 2px solid var(--cor-terciaria);
            border-radius: 25px;
            height: 40%;
            width: 40%;
            
        }
        .apresentacao__links__navegacao{
            width: 60%;
            padding: 15px;
            margin-top: 0px;
            font-size: 1rem;
        }
}